<p-menubar>
  <ng-template #start>
    <h5 routerLink="/feed" class="p-2">🧑‍💻 DevTinder</h5>
  </ng-template>
  <ng-template #end>
    @if (user$ | async; as user) {
      <div class="flex items-center gap-2">
        <p class="w-36">Welcome, {{ user.firstName }}</p>
        <div class="avatar-menu">
          <button
            type="button"
            class="avatar-trigger"
            aria-label="Open account menu"
            aria-haspopup="menu"
          >
            <p-avatar
              image="{{ user.photoUrl ?? 'https://geographyandyou.com/images/user-profile.png' }}"
              shape="circle"
            />
          </button>
          <div class="account-menu" role="menu">
            <button routerLink="/profile">Profile</button>
            <button routerLink="/connection">Connection</button>
            <button routerLink="/request">Request</button>
            <button type="button" role="menuitem" class="logout-action" (click)="logout()">
              Logout
            </button>
          </div>
        </div>
      </div>
    }
  </ng-template>
</p-menubar>
